@import './fonts.scss';

body
{
  font-family: $main;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
  max-width: 600px;
}

h1
{
  font-family: $main;
  font-size: 15px;
  font-weight: bold;
}

a.main
{
  text-decoration: none;
}

a.main:hover
{
  text-decoration: underline;
}

p.padded
{
  padding: 30px;
}

.spaceTop
{
  margin-top: 30px;
}

